@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@700&family=Varela+Round:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", "Varela Round", sans-serif;
  margin: 0;
  background-color: #2a9d8f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik", sans-serif;
}
